.container {
  position: relative;
}
body {
  background-color: burlywood;
}

/*header style*/
header nav {
  text-align: right;
  background-color: rgb(26, 19, 19);
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  line-height: 34px;
}

header nav ul li {
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a:hover {
  color: brown;
  padding-top: 20px;
}
header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/*image*/
.text-image {
  position: absolute;
  top: 90px;
  left: 50px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
}

.container1 {
  padding: 45px 70px 45px 70px;
}

/*Heading STYLE*****/
.heading {
  padding: 45px 70px 45px 70px;
  color: red;
}

.about {
  column-count: 2;
}

/**teammember div styling *****/
.teammembers {
  display: inline-flex;
  margin-top: 30px;
  column-count: 4;
}

h2 {
  color: red;
  font-size: 30px;
}
.team-member-img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.img-container {
  width: 200px;
  height: 200px;
}

.member {
  width: 25%;
  padding: 20px;
}
.mainfooter {
  background-color: white;
  color: red;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.footcontainer {
  display: flex;
  justify-content: space-between;
}

.cp-sign {
  font-size: 45px;
}

.social-links {
  margin: 10px;
}
